<?xml version="1.0"?>
<!-- Launch file for use with the SICK LMS 200 -->
<launch>
  <param name="sicklms/port" value="/dev/ttyUSB0" />
  <param name="sicklms/baud" value="38400" />
  
  <node pkg="ROSARIA" type="RosAria" name="ROSARIA">
    <remap from="ROSARIA/pose" to="odom"/>
	<param name="port" value="/dev/ttyUSB1" />
  </node>

  <node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms" output="screen">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.3 0.0 0.0 0.0 1.0 /base_link /laser 100" />
 
  <!-- exploration node -->
  <node pkg="mrgs_scripts"  type="simple_exploration.py" name="simple_exploration">
    <remap from="cmd_vel" to="ROSARIA/cmd_vel"/>
  </node>
  
</launch>
