<?xml version="1.0"?>
<launch>

 <!-- joy node -->
   <node respawn="true" pkg="wiimote"  type="wiimote_node.py" name="pioneer_teleop" output="screen"/>

 <!-- Axes -->
  <param name="scale_linear" value="0.1" type="double"/>
  <param name="scale_angular" value="0.5" type="double"/>

  <node pkg="pioneer_teleop" type="pioneer_teleop_buttons" name="teleop" output="screen"/>

  <param name="sicklms/port" value="/dev/ttyUSB0" />
  <param name="sicklms/baud" value="38400" />
  
  <node pkg="ROSARIA" type="RosAria" name="ROSARIA">
    <remap from="ROSARIA/pose" to="odom"/>
	<param name="port" value="/dev/ttyUSB1" />
  </node>

  <node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms" output="screen">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.1 0.0 0.3 0.0 0.0 0.0 1.0 /base_link /laser 100" />
  
</launch>
