<launch>
  <!-- Arguments -->
  <arg name="interface" default="$(optenv MRGS_INTERFACE)" />
  
  <!-- Parameters -->
  <!--param name="use_sim_time" value="true" /-->
  <param name="is_centralized" value="true" />
  <param name="interface" value="$(arg interface)" />
  <param name="is_transmitter" value="true" />
  
  <!-- mrgs -->
  <!-- wifi_comm node -->
  <node name="wifi_discovery_node" pkg="wifi_comm" type="wifi_discovery_node" />
  <!-- mrgs_data_interface node-->
  <node name="data_interface_node" pkg="mrgs_data_interface" type="data_interface_node" output="screen"/>
  <!-- dam node -->
  <node name="map_dam_node" pkg="mrgs_auxiliary_nodes" type="map_dam_node" output="screen"/>
  
  <!-- Rviz -->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find mrgs_scripts)/rviz/only_map.vcg" /-->

  <!-- rqt_console -->
  <!--node name="console" pkg="rqt_console" type="rqt_console"/-->
  <!--node name="logger_level" pkg="rqt_logger_level" type="rqt_logger_level"/-->
</launch>

